@charset "UTF-8";

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.75;
  font-size: 16px;
}

.u_break {
  display: block;
}

/* homework section */
.homework_title-wrapper {
  background: linear-gradient(45deg, #ff9158 0, #ffbb1e 100%);
  color: #fff;
  padding: 16px 24px;
}

.homework_title {
  font-size: 24px;
  font-weight: bold;
}

.homework_item {
  font-size: 14px;
}

.homework_item-link {
  color: #0000ee;
  font-weight: bold;
  text-decoration: underline;
}

.homework_item__black {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width: 1080px) {
  .homework_title-wrapper {
    padding: 32px 80px;
  }

  .homework_title {
    font-size: 30px;
  }
}

/* calc */
.calc_wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

.calc_image {
  text-align: center;
  border-bottom: 1px solid #eee;
}

.calc_container {
  display: flex;
  padding: 40px 0;
}

.calc_main,
.calc_aside {
  height: 500px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc_main {
  background-color: #ff7070;
}

.calc_aside {
  background-color: #7070ff;
}

/* variable */
.variable_container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 0;
}

.variable_item {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #43cfe8;
}

/* css design */
.css-design_container {
  max-width: 840px;
  margin: 0 auto;
  padding: 40px 0;
}

/* css design2 */
.css-design2_wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 0;
}

.css-design2_image {
  text-align: center;
  border-bottom: 1px solid #eee;
}

.css-design2_container {
  padding: 40px 0;
}
