@charset "UTF-8";
/* ---------- base ---------- */
body {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

.header {
  text-align: center;
  background: #008db7;
  box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.16);
}

.header-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  height: 64px;
  display: inline-block;
}

.header-logo_link {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav {
  background: #e8e8e8;
}

.header-nav_list {
  padding: 0 16px;
  height: 64px;
  display: flex;
  /* liタグで囲まれた要素がはみ出ている */
  overflow: scroll;
  /* スクロールバーを非表示 */
  scrollbar-width: none;
}

/* スクロールバーを非表示（どのブラウザにも対応できるようにするためのもの*/
.header-nav_list::-webkit-scrollbar {
  display: none;
}

.header-nav_item {
  font-weight: bold;
  white-space: nowrap;
}

.header-nav_item:not(:first-child) {
  margin-left: 32px;
}

.header-nav_link {
  height: 100%;
  display: flex;
  align-items: center;
}

.posts {
  padding: 0 16px;
  margin-top: 56px;
}

.post {
  box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.16);
}

.post:not(:first-child) {
  margin-top: 24px;
}

.post_content {
  padding: 24px 16px;
}

.post_meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_meta-date {
  color: #aaa;
  font-size: 12px;
  font-weight: bold;
}

.post_meta-cat {
  color: #008db7;
  font-size: 12px;
  font-weight: bold;
  width: 112px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #008db7;
  border-radius: 4px;
}

.post_title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
}

.footer {
  padding: 24px 0;
  background: #f7f7f7;
  text-align: center;
}

.footer-copyright {
  color: #aaa;
  font-size: 12px;
}

